 body{
  background-color: #d9edf0;
   
}
.container {
  background: linear-gradient(#94ede7, #9198e5); 

    max-width: 700px;
    border: rgb(227, 237, 237) 1px solid;
    margin-top: 70px;
    border-radius: 6px;
    box-sizing: border-box;
  }
  #cityName {
    color: #0c428e;
    margin-top: 10px;
    margin-left: 2px;
    font-family: 'DynaPuff', cursive;

  }
  ul {
    margin: 2px;
    padding: 0;

  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 4px;
    color: #0c428e;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    font-family: 'DynaPuff', cursive;

  }
  
  .temperature {
    font-size: 50px;
    color: #0c428e;
    font-family: 'DynaPuff', cursive;

  }
  .units {
    
    top: -30px;
    color: #0c428e;
    font-family: 'DynaPuff', cursive;

  }
  #colaval,
  #coldovom {
    margin-top: 5px;

  }
  .source{
    text-decoration: none;
    color: #0c428e;
    font-family: 'DynaPuff', cursive;

  }
  .sources{
    display: block;
    margin: 0 auto;
    margin-left: 420px;
  }
  li:first-letter {
    text-transform: capitalize;
  }
  #farenheit-link{
    text-decoration: none;
    color: #0c428e;
}
#celcius-link{
    text-decoration: none;
    color: #0c428e;
}
strong{
  font-size: 36px;
  color: #0c428e;
  font-family: 'DynaPuff', cursive;

}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -20px;
  
}
.weather-temperature img {
  margin-right:0;
  margin-top: -30px;
  height: 64px;
  width: 64px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #0c428e;
  margin-bottom: 20px;
  font-family: 'DynaPuff', cursive;

}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
  font-family: 'DynaPuff', cursive;

}
.icon{
  margin-top: 10px;
}
#city-input{
  color: #0c428e;
  background-color: #d9edf0;
}
#submit{
  font-family: 'DynaPuff', cursive;

}